.sidebar-container {
  width: 32em;
  height: calc(100vh - 2em);
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  top: 2em;
  left: 0;
  align-items: flex-start;
  z-index: 100;
  overflow-y: auto;
  flex-wrap: nowrap;
  border-right: 1px solid #989898;
}

.pic-name-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  padding: 0.5em;
}

.user-name {
  font-size: 1.5em;
  font-weight: bold;
}

.text-body {
  font-size: 1em;
  color: #bbb;
  text-align: justify;
}

.modal-container {
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2em;
  border-radius: 1em;
  max-width: 600px;
  width: 90%;
  outline: none;
}
