.sidebar-container {
  width: 32em;
  height: calc(100vh - 2em);
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  top: 2em;
  left: 0;
  align-items: flex-start;
  z-index: 100;
  overflow-y: auto;
  flex-wrap: nowrap;
  border-right: 1px solid #989898;
}

.pic-name-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  padding: 0.5em;
}

.user-name {
  font-size: 1.5em;
  font-weight: bold;
}

.text-body {
  font-size: 1em;
  color: #bbb;
  text-align: justify;
}

.profile-pic {
    height: 10em;
    width: 10em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.user-info {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-location {
    font-size: 0.8em;
    color: #bbb;
    font-style: italic;
}

.about-me {
    margin: 0.5em 0;
}

.section-title {
    font-weight: bold;
    text-align: justify;
}

.section-text {
    text-align: justify;
}

.ratings-container {
    margin: 1em 0 0 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.rating {
    margin-right: 2em;
}

.rating-title {
    font-weight: bold;
}

.items-container {
    margin: 1em 0 0 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.items {
    margin-right: 2em;
}

.items-title {
    font-weight: bold;
}

.items-number {
    font-size: 1.8em;
}

.edit-profile-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.edit-profile-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.25em;
}
