.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container input {
    width: 80%;
    display: block;
    margin: 10px;
}

.inputBlock {
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
}